.container_main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.imgtext_1{ /* esta es el tamano de la imagen del mapa*/
    max-width: 60%;
    margin-bottom: 10%;
}

.content_map {
	width: 80%; /*Ancho del contenedor en 80% */
	padding: 1%; /* Espacio de relleno alrededor del contenido del contenedor */
}

.imgtext_1 {
    width: 98%; /*Ancho del mapa del 98% dentro del contenedor */
    display: block; /*Visualización en bloque*/
    margin: auto; /* Imagenes auomáticas a la izquierda y derecha */
}

.punto { /* Estilo de todos los marcadores*/  
    width: 1%; /* Ajusta el ancho del punto */
    height: 2%; /* Ajusta la altura del punto */
    position: absolute; /* Posición obsoluta */
    cursor: pointer; /* Estilo del cursor como una mano */
    background-size: cover; /* La imagen de fondo de ajusta al contenedor */
    border-radius: 50%;
    background-color: rgb(0, 99, 197); /*color del punto*/
    transition: 0.5s;
}

.punto:hover { /* Bahía málaga */
    background-color: rgb(0, 112, 223); /*color del punto*/
    transform: scale(1.5); /* */
}

.informacion {
    background-color: #ededed; /*Color de fondo del elemento*/
    display: none; /*Ocultar elemento */ 
    position: absolute; /* Posición obsoluta */
    top: 32%; /* Distancia entre la parte superior del elemento y el contenedor */
    left: 40%;  /* Distancia entre la parte izquierda del elemento y el contenedor */
    width: 30%; /*Ancho del elemento del 50% del contenedor*/
    padding: 2%; /* Espacio de relleno del 2% en todos los lados */
    border-radius: 12px;
}

.informacion img {
    width: auto;  /* Ancho automático  */ 
    height: auto; /* Altura automática */ 
    max-width: 100%; /* Ancho máx de 100%*/
    max-height: 100%; /* Ancho min de 100% */
}


@media (min-width: 951px){
    #punto1 { /* Bahía málaga */
        top: 51%; /* Posición vertical */
        left: 43.5%; /* Posición horizontal*/
    }
    
    #punto2 { /*La Bocana*/
        top: 56%; /* Posición vertical */
        left: 48.5%; /* Posición horizontal*/;
    }
    
    #punto3 { /*La Cascada La Sierpe*/
        top: 50%; /* Posición vertical */
        left: 46%; /* Posición horizontal*/
    }
    
    #punto4 { /*Juanchaco y Ladrilleros*/
        top: 53%; /* Posición vertical */
        left: 42.5%; /* Posición horizontal*/
    }
    
    #punto5 { /*Reserva Forestal Protectora de los ríos Escalerete y San Cipriano*/
        top: 58%; /* Posición vertical */
        left: 52%; /* Posición horizontal*/
    }
    
    #punto6 { /*Atedral de Buenaventura*/
        top: 54%; /* Posición vertical */
        left: 50%; /* Posición horizontal*/
    }
    
    #punto7 { /*Pianguita*/
        top: 57%; /* Posición vertical */
        left: 46.2%; /* Posición horizontal*/;
    }
}

@media (max-width: 950px){


   .content_map {

        height: 50%;
    }


    .imgtext_1 {
        /*Ancho del mapa del 98% dentro del contenedor */
        height: 50%;
        display: block; /*Visualización en bloque*/
        margin: auto; /* Imagenes auomáticas a la izquierda y derecha */}
    
    .punto:hover { /* Bahía málaga */
        background-color: rgb(0, 112, 223); /*color del punto*/
        transform: scale(1.5); /* */
    }
    
    #punto1 { /* Bahía málaga */
        top: 43%; /* Posición vertical */
        left: 39%; /* Posición horizontal*/
        height: 7px;
        width: 7px;
    }
    
    #punto2 { /*La Bocana*/
        top: 44.5%; /* Posición vertical */
        left: 47%; /* Posición horizontal*/;
        height: 7px;
        width: 7px;
    }
    
    #punto3 { /*La Cascada La Sierpe*/
        top: 42.5%; /* Posición vertical */
        left: 43.5%; /* Posición horizontal*/
        height: 7px;
        width: 7px;
        
    }
    
    #punto4 { /*Juanchaco y Ladrilleros*/
        top: 43.5%; /* Posición vertical */
        left: 38%; /* Posición horizontal*/
        height: 7px;
        width: 7px;
    }
    
    #punto5 { /*Reserva Forestal Protectora de los ríos Escalerete y San Cipriano*/
        top: 45.5%; /* Posición vertical */
        left: 54%; /* Posición horizontal*/
        height: 7px;
        width: 7px;
        
      
    }
    
    
    #punto6 { /*Atedral de Buenaventura*/
        top: 44.2%; /* Posición vertical */
        left: 51.1%; /* Posición horizontal*/
        height: 7px;
        width: 7px;
    }
    
    
    #punto7 { /*Pianguita*/
        top: 45%; /* Posición vertical */
        left: 44.5%; /* Posición horizontal*/ 
        height: 7px;
        width: 7px;
    
    }

    .informacion {
        background-color: #ededed; /*Color de fondo del elemento*/
        display: none; /*Ocultar elemento */ 
        position: absolute; /* Posición obsoluta */
        top: 32%; /* Distancia entre la parte superior del elemento y el contenedor */
        left: 20%;  /* Distancia entre la parte izquierda del elemento y el contenedor */
        width: 70%; /*Ancho del elemento del 50% del contenedor*/
        
        padding: 2%; /* Espacio de relleno del 2% en todos los lados */
        border-radius: 12px;
    }
    
    .informacion img {
        width: auto;  /* Ancho automático  */ 
        height: auto; /* Altura automática */ 
        max-width: 100%; /* Ancho máx de 100%*/
        max-height: 100%; /* Ancho min de 100% */
    }
}
